<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/head.html' %}
</head>
<body>
<div class="breadcrub">
    当前位置：新闻管理>新闻版式编辑
    <form class="news_filter_form">
        <input type="text" id="input_txt" placeholder="请输入关键字" class="input_txt">
        <input type="submit" value="搜 索" class="input_sub">
    </form>
</div>


<div class="pannel">
    <table class="common_table">
        <tr>
            <th width="5%">id</th>
            <th width="70%">标题</th>
            <th width="15%">发布时间</th>
            <th width="10%">管理操作</th>
        </tr>
        <tr v-for="news in news_list">
            <td>[[news.id]]</td>
            <td class="tleft">[[news.title]]</td>
            <td>[[news.create_time]]</td>
            <td>
                <a :href="'/admin/news_edit_detail/'+news.id" class="edit">编辑</a>
            </td>
        </tr>
    </table>
</div>

<div class="box">
    <div id="pagination" class="page"></div>
</div>

<script>
    $(function () {
        vue_tb_list = new Vue({
            el: '.common_table',
            delimiters: ['[[', ']]'],
            data: {
                news_list: []
            },
        });
        get_news_list();
        $('.news_filter_form').submit(function (e) {
            e.preventDefault();
            get_news_list();
        });
    });
    function get_news_list() {
        $.get('/admin/news_edit_json',{
            'input_txt':$('#input_txt').val()
        }, function (data) {
            //数据绑定到vue进行显示
            vue_tb_list.news_list = data.news_list;
            //绑定页码数据
            $("#pagination").pagination({
                currentPage: 1,
                totalPage: data.total_page,
                callback: function (current) {
                    $.get('/admin/news_edit_json', {
                        page: current,
                        input_txt:$('#input_txt').val()
                    }, function (data) {
                        //数据绑定到vue进行显示
                        vue_tb_list.news_list = data.news_list;
                    });
                }
            });
        });
    }
</script>

</body>
</html>