<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/head.html' %}
</head>
<body>
<div class="breadcrub">
    当前位置：用户管理>用户列表
</div>
<div class="pannel">
    <table class="common_table">
        <tr>
            <th>用户名</th>
            <th>电话</th>
            <th>注册时间</th>
            <th>上次登录时间</th>
        </tr>
        <tr v-for="user in user_list">
            <td>[[user.nick_name]]</td>
            <td>[[user.mobile]]</td>
            <td>[[user.create_time]]</td>
            <td>[[user.update_time]]</td>
        </tr>
    </table>
</div>

<div class="box">
    <div id="pagination" class="page"></div>
</div>

<script>
    $(function () {
        vue_tb_list = new Vue({
            el: '.common_table',
            delimiters: ['[[', ']]'],
            data: {
                user_list: []
            },
        });
        $.get('/admin/user_list_json', function (data) {
            //数据绑定到vue进行显示
            vue_tb_list.user_list = data.user_list;
            //绑定页码数据
            $("#pagination").pagination({
                currentPage: 1,
                totalPage: data.total_page,
                callback: function (current) {
                    $.get('/admin/user_list_json', {page: current}, function (data) {
                        //数据绑定到vue进行显示
                        vue_tb_list.user_list = data.user_list;
                    });
                }
            });
        });
    });
</script>
</body>
</html>